<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>संपर्क </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="card hovercard">
          <div class="cardheader"></div>
          <div class="avatar">
            <img alt="" src="../../../assets/123.jpg" />
          </div>
          <div class="info">
            <div class="title">
              <h3 class="text-danger">बळीराम पांडुरंग जाधव</h3>
              <hr />
              <p>जि. प.प्राथमिक शाळा भूतवडा ता.जामखेड जि. अहमदनगर</p>
              <hr />
              <!-- <blockquote class="blockquote text-center">
                <h5 class="text-danger">पत्ता</h5>
                <p class="mb-0">Bramahananda Nivas</p>
                <p class="mb-0">Joshi Galli , Degloor</p>
                <p class="mb-0">Dist : Nanded</p>
                <hr />
              </blockquote> -->
            </div>
            <div class="desc">मोबाईल क्रमांक : 9552478734</div>
            <!-- <div class="desc">ई-मेल : santu.ghau@gmail.com</div> -->
          </div>
          <div class="bottom"></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
